@import "../../shared/_variables.scss";

.home-container{
    position: relative;
    
}
// .home-content{
//     width: 100%;
//     height: auto;
//     margin-top: 20px;
// }

.intro {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  top: 48%;
  left: 55%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 75%;
}


// .intro__nameFont {
//     font-size: 1.4rem;
//     font-family: 'Fresca', sans-serif;
//     color: #C16F78;
//     text-align: left;
// }

.intro__titleFont{
    font-size: 1.5rem;
    font-family: $header-font;
    text-align: left;
    color: $theme-primary-color;
    margin-bottom: 18px;
}


// .my-btn{
//     border: 1px solid $theme-secondary-color; 
//     color: $theme-primary-color;
//     background-color:#F9F4F4;
//     padding: 7px 20px;
//     border-radius: 10px; 
//     /* float: right; */
//     font-size: 0.8rem;
//     /* position: absolute;
//     z-index: 1;
//     top: 32%;
//     right: 20%; */
// }


.my-btn{
    border: 2px solid $theme-button-link-color; 
    color: $theme-button-link-color;
    // background-color: $theme-button-link-color;
    padding: 7px 20px;
    border-radius: 10px; 
    font-size: 0.8rem;
    font-family: $body-font;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.my-btn:hover, .my-btn:active{
    background-color: $theme-button-link-color;
    color: white;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
  

// .my-btn2::after{
//     content: "";
//     display: inline-block;
//     //background-image: url(b64);
// 	position: absolute;
// 	top: 0;
// 	left: calc(100% - 3em);
// 	right: 3em;
// 	bottom: 0;
// 	background-size: 1.5em;
// 	background-repeat: no-repeat;
// 	background-position: center;
//     transition: right .3s cubic-bezier(.1, 0, .1, 1);	
    
// }


// .my-btn2::after:hover{
//     padding: 0.5em 3.5em 0.5em 0.5em;   	   
// }

// .my-btn2::after:hover::before{
//     left: calc(100% - 3em);
// 	right: 0;
// 	transition: .3s cubic-bezier(.1, 0, .1, 1), left .3s .2s cubic-bezier(.1, 0, .1, 1);
// }

// .my-btn2::after:hover::after{
//     right: 0;
// 	transition: right .3s .2s cubic-bezier(.1, 0, .1, 1);
// }


// .my-btn2:hover{
//     box-shadow: 0px 0px 0px 2.5px #fff, 0px 0px 0px 5px #722227, 0px 0px 0px 10px white, 0px 0px 0px 10.5px #722227;
//     background-color: white;
//     color: $theme-secondary-color;
//     transition: 0.5s ease-in-out;
// }

.indicator{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.indicator p{
    font-family: $body-font;
}

.indicator span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid $theme-third-color;
    border-right: 1px solid $theme-third-color;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
    margin-left: 40px;
}

.indicator span:nth-child(2){
    animation-delay: -0.3s;
    
}

.indicator span:nth-child(3){
    animation-delay: -0.2s;
    
}

@keyframes animate{
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    5%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }

}

.home-content{
    margin-top: 90px;
}


