// typography - fonts
$header-font: 'Fresca', sans-serif;
$body-font: 'Roboto', sans-serif;
$theme-primary-color: #C16F78;
$theme-secondary-color: #F1E3D8;
$theme-third-color: #3317E2;
$theme-decoration-color: #F9F4F4;
$theme-dark-pink-color: #722227;
$theme-line-color: #F2AD85;
$my-background-color: #F9F4F4;