@import '../../shared/_variables.scss';


.portfolio-content{
    width: 100%;
    height: auto;
}

.page-title{
    font-size: 1.8rem;
    color: $theme-dark-pink-color;
}


.my-links a, .fab .fa-github {
    color: $theme-primary-color;
}

.my-links a:hover {
    color: $theme-third-color;
}